# Excel using Python

__An excel file is used to store, analyse and manipulate data. It is a collection of spreadsheets, which stores the actual data in rows and columns.__

__openpyxl is a Python library which allows the interaction between a Python script and an excel file.__

In openpyxl library, 

An excel file is a Workbook
Each spreadsheet is a Worksheet
Each worksheet is a collection of rows and columns
The intersection of a row and a column in a worksheet is a Cell
Each cell holds data stored in the worksheet

In [1]:
# pip install openpyxl
import openpyxl as xl

## __Loading workbook__

In [2]:
wb = xl.load_workbook('txt.xlsx')

In [3]:
print(type(wb))

<class 'openpyxl.workbook.workbook.Workbook'>

In [4]:
print(wb.active)

<Worksheet "Sheet1">

In [5]:
print(wb.sheetnames)

['Sheet1', 'sample', 'test1']

In [6]:
wb.worksheets

In [7]:
a=wb['Sheet1']
type(a)

openpyxl.worksheet.worksheet.Worksheet

## __Accessing Cells__

cell(row, column) : The cell method of worksheet object accepts two parameters (row and column) and returns the corresponding cell object. The rows and columns must be referenced as integers starting from 1

In [8]:
wb = xl.load_workbook('txt.xlsx')

In [9]:
ws=wb['Sheet1']
a=ws.cell(2,3)
print(a)
print(a.value)

<Cell 'Sheet1'.C2>
6

Using the worksheet object : The cell can be accessed by mentioning it as key in worksheet object, which returns the corresponding cell object.

In [10]:
a=ws['C2']
a.value

6

## Worksheet Slicing

In [11]:
wb = xl.load_workbook('txt.xlsx')

In [12]:
ws=wb['Sheet1']
cells=ws['A1':'C3']
cells

((<Cell 'Sheet1'.A1>, <Cell 'Sheet1'.B1>, <Cell 'Sheet1'.C1>),
 (<Cell 'Sheet1'.A2>, <Cell 'Sheet1'.B2>, <Cell 'Sheet1'.C2>),
 (<Cell 'Sheet1'.A3>, <Cell 'Sheet1'.B3>, <Cell 'Sheet1'.C3>))

In [13]:
for i in cells:
    for j in i:
        print(j.value,end=' ')
    print()

JOHN WICK 2 3
JOHN WICK 5 6
7 8 9

## Fetching all rows and column values

In [14]:
wb = xl.load_workbook('txt.xlsx')

In [15]:
#returns the last row populated with data
# work_sheet.max_row
#returns the last column populated with data
# work_sheet.max_column

In [16]:
ws=wb['Sheet1']

In [17]:
ws.max_row

9

In [18]:
ws.max_column

4

In [19]:
for i in range(1,ws.max_row+1):
    for j in range(1,ws.max_column+1):
        print(ws.cell(i,j).value,end=' ')
    print()

JOHN WICK 2 3 a
JOHN WICK 5 6 a
7 8 9 a
1 2 3 a
5 10 10000 b
1 2 3 a
5 10 10000 b
1 2 3 a
5 10 10000 b

In [20]:
#wont give you last column values
for i in range(1,ws.max_column+1):
    for j in range(1,ws.max_row+1):
        print(ws.cell(i,j).value,end=' ')
    print()

JOHN WICK 2 3 a None None None None None
JOHN WICK 5 6 a None None None None None
7 8 9 a None None None None None
1 2 3 a None None None None None

## Accessing sheet data row-wise and column-wise

In [21]:
wb = xl.load_workbook('txt.xlsx')
ws=wb['Sheet1']

In [22]:
print(tuple(ws.rows))
print('*'*50)
print(tuple(ws.columns))

((<Cell 'Sheet1'.A1>, <Cell 'Sheet1'.B1>, <Cell 'Sheet1'.C1>, <Cell 'Sheet1'.D1>), (<Cell 'Sheet1'.A2>, <Cell 'Sheet1'.B2>, <Cell 'Sheet1'.C2>, <Cell 'Sheet1'.D2>), (<Cell 'Sheet1'.A3>, <Cell 'Sheet1'.B3>, <Cell 'Sheet1'.C3>, <Cell 'Sheet1'.D3>), (<Cell 'Sheet1'.A4>, <Cell 'Sheet1'.B4>, <Cell 'Sheet1'.C4>, <Cell 'Sheet1'.D4>), (<Cell 'Sheet1'.A5>, <Cell 'Sheet1'.B5>, <Cell 'Sheet1'.C5>, <Cell 'Sheet1'.D5>), (<Cell 'Sheet1'.A6>, <Cell 'Sheet1'.B6>, <Cell 'Sheet1'.C6>, <Cell 'Sheet1'.D6>), (<Cell 'Sheet1'.A7>, <Cell 'Sheet1'.B7>, <Cell 'Sheet1'.C7>, <Cell 'Sheet1'.D7>), (<Cell 'Sheet1'.A8>, <Cell 'Sheet1'.B8>, <Cell 'Sheet1'.C8>, <Cell 'Sheet1'.D8>), (<Cell 'Sheet1'.A9>, <Cell 'Sheet1'.B9>, <Cell 'Sheet1'.C9>, <Cell 'Sheet1'.D9>))
**************************************************
((<Cell 'Sheet1'.A1>, <Cell 'Sheet1'.A2>, <Cell 'Sheet1'.A3>, <Cell 'Sheet1'.A4>, <Cell 'Sheet1'.A5>, <Cell 'Sheet1'.A6>, <Cell 'Sheet1'.A7>, <Cell 'Sheet1'.A8>, <Cell 'Sheet1'.A9>), (<Cell 'Sheet1'.B1>, <Cell 'Sheet1'.B2>, <Cell 'Sheet1'.B3>, <Cell 'Sheet1'.B4>, <Cell 'Sheet1'.B5>, <Cell 'Sheet1'.B6>, <Cell 'Sheet1'.B7>, <Cell 'Sheet1'.B8>, <Cell 'Sheet1'.B9>), (<Cell 'Sheet1'.C1>, <Cell 'Sheet1'.C2>, <Cell 'Sheet1'.C3>, <Cell 'Sheet1'.C4>, <Cell 'Sheet1'.C5>, <Cell 'Sheet1'.C6>, <Cell 'Sheet1'.C7>, <Cell 'Sheet1'.C8>, <Cell 'Sheet1'.C9>), (<Cell 'Sheet1'.D1>, <Cell 'Sheet1'.D2>, <Cell 'Sheet1'.D3>, <Cell 'Sheet1'.D4>, <Cell 'Sheet1'.D5>, <Cell 'Sheet1'.D6>, <Cell 'Sheet1'.D7>, <Cell 'Sheet1'.D8>, <Cell 'Sheet1'.D9>))

In [23]:
# row wise accessing
all_rows=(tuple(ws.rows))
for i in all_rows:
    for j in i:
        print(j.value,end=' ')
    print()

JOHN WICK 2 3 a
JOHN WICK 5 6 a
7 8 9 a
1 2 3 a
5 10 10000 b
1 2 3 a
5 10 10000 b
1 2 3 a
5 10 10000 b

In [24]:
# column wise accessing
all_rows=(tuple(ws.columns))
for i in all_rows:
    for j in i:
        print(j.value,end=' ')
    print()

JOHN WICK JOHN WICK 7 1 5 1 5 1 5
2 5 8 2 10 2 10 2 10
3 6 9 3 10000 3 10000 3 10000
a a a a b a b a b

In [25]:
## accesing entire sheet
# all_rows=(tuple(ws.rows))
for i in ws.values:
    for j in i:
        print(j,end=' ')
    print()

JOHN WICK 2 3 a
JOHN WICK 5 6 a
7 8 9 a
1 2 3 a
5 10 10000 b
1 2 3 a
5 10 10000 b
1 2 3 a
5 10 10000 b

## Accessing individual rows and columns

In [26]:
wb = xl.load_workbook('txt.xlsx')
ws=wb['Sheet1']

In [27]:
print("Cell objects of 'row 2':")
print(ws[2])
print('*'*100)
print("Cell objects of 'column B':")
print(ws['B'])

Cell objects of 'row 2':
(<Cell 'Sheet1'.A2>, <Cell 'Sheet1'.B2>, <Cell 'Sheet1'.C2>, <Cell 'Sheet1'.D2>)
****************************************************************************************************
Cell objects of 'column B':
(<Cell 'Sheet1'.B1>, <Cell 'Sheet1'.B2>, <Cell 'Sheet1'.B3>, <Cell 'Sheet1'.B4>, <Cell 'Sheet1'.B5>, <Cell 'Sheet1'.B6>, <Cell 'Sheet1'.B7>, <Cell 'Sheet1'.B8>, <Cell 'Sheet1'.B9>)

In [28]:
# row wise
for i in ws[1]:
    print(i.value,end=' ')

JOHN WICK 2 3 a

In [29]:
# column wise
for i in ws['C']:
    print(i.value,end=' ')

3 6 9 3 10000 3 10000 3 10000

In [30]:
for i in ws.values:
    for j in i:
        print(j,end=' ')
    print()

JOHN WICK 2 3 a
JOHN WICK 5 6 a
7 8 9 a
1 2 3 a
5 10 10000 b
1 2 3 a
5 10 10000 b
1 2 3 a
5 10 10000 b

## Adding a new record

The append() method of the worksheet object is used to add a new record or row. It accepts a list/tuple of elements which needs to be inserted as a row. It can add only one row at a time.

In [31]:
wb = xl.load_workbook('txt.xlsx')
ws=wb['Sheet1']

In [32]:
ws.append([1,2,3,'a'])           #appending as list
ws.append( (5, 10, 10000,'b') )  # appending as tuple

In [33]:
wb.save(r'txt.xlsx')

In [34]:
for i in ws.values:
    for j in i:
        print(j,end=' ')
    print()

JOHN WICK 2 3 a
JOHN WICK 5 6 a
7 8 9 a
1 2 3 a
5 10 10000 b
1 2 3 a
5 10 10000 b
1 2 3 a
5 10 10000 b
1 2 3 a
5 10 10000 b

## Updating value for a specific cell

In [35]:
wb = xl.load_workbook('txt.xlsx')
ws=wb['Sheet1']

In [36]:
ws['A2']='JOHN WICK'
wb.save(r'txt.xlsx')

In [37]:
for i in ws.values:
    for j in i:
        print(j,end=' ')
    print()

JOHN WICK 2 3 a
JOHN WICK 5 6 a
7 8 9 a
1 2 3 a
5 10 10000 b
1 2 3 a
5 10 10000 b
1 2 3 a
5 10 10000 b
1 2 3 a
5 10 10000 b

## Insert rows and columns

 insert_rows():
The insert_rows() method of the worksheet object is used to insert an empty row/rows in it. It accepts two parameters -
the row number, before which the new row(s) to be inserted and
the number of row(s) to be inserted

insert_cols():
The insert_cols() method of the worksheet object is used to insert an empty column/columns into the worksheet. It accepts two parameters -
the column number, before which the new column(s) to be inserted and
the number of column(s) to be inserted

In [38]:
wb = xl.load_workbook('txt.xlsx')
ws=wb['Sheet1']

In [40]:
#inserts one row before 3rd row
ws.insert_rows(3)
#inserts two rows before 5th row
ws.insert_rows(5,2)

In [41]:
for i in ws.values:
    for j in i:
        print(j,end=' ')
    print()

JOHN WICK 2 3 a
JOHN WICK 5 6 a
None None None None
7 8 9 a
None None None None
None None None None
1 2 3 a
5 10 10000 b
1 2 3 a
5 10 10000 b
1 2 3 a
5 10 10000 b
1 2 3 a
5 10 10000 b

In [42]:
wb.save(r'txt.xlsx')

In [44]:
#inserts one column before 2nd column
ws.insert_cols(2)
#inserts two columns before 4th column
ws.insert_cols(4,2)

In [45]:
for i in ws.values:
    for j in i:
        print(j,end=' ')
    print()

JOHN WICK None 2 None None 3 a
JOHN WICK None 5 None None 6 a
None None None None None None None
7 None 8 None None 9 a
None None None None None None None
None None None None None None None
1 None 2 None None 3 a
5 None 10 None None 10000 b
1 None 2 None None 3 a
5 None 10 None None 10000 b
1 None 2 None None 3 a
5 None 10 None None 10000 b
1 None 2 None None 3 a
5 None 10 None None 10000 b

In [46]:
wb.save(r'txt.xlsx')

## Deleting rows and columns

The delete_rows() method of the worksheet object is used to delete an existing row/rows. <br>It accepts two parameters -

the row number, which needs to be deleted and
the number of row(s) to be deleted

In [47]:
wb = xl.load_workbook('txt.xlsx')
ws=wb['Sheet1']

In [48]:
for i in ws.values:
    for j in i:
        print(j,end=' ')
    print()

JOHN WICK None 2 None None 3 a
JOHN WICK None 5 None None 6 a
None None None None None None None
7 None 8 None None 9 a
None None None None None None None
None None None None None None None
1 None 2 None None 3 a
5 None 10 None None 10000 b
1 None 2 None None 3 a
5 None 10 None None 10000 b
1 None 2 None None 3 a
5 None 10 None None 10000 b
1 None 2 None None 3 a
5 None 10 None None 10000 b

In [49]:
#deletes 3rd row
ws.delete_rows(3)
#deletes two rows from 5th row
ws.delete_rows(5,2)

In [51]:
ws.delete_rows(4)

In [53]:
wb.save(r'txt.xlsx')

In [58]:
for i in ws.values:
    for j in i:
        print(j,end=' ')
    print()

JOHN WICK 2 3 a
JOHN WICK 5 6 a
7 8 9 a
5 10 10000 b
1 2 3 a
5 10 10000 b
1 2 3 a
5 10 10000 b
1 2 3 a
5 10 10000 b

In [55]:
#deletes 3rd column
ws.delete_cols(2)

In [57]:
#deletes two columns from 4th column
ws.delete_cols(3,2)

In [59]:
wb.save(r'txt.xlsx')

## Creating a new workbook and worksheets

The Workbook class is used to create a new workbook. The following code is used to create a workbook, create a sheet, remove a sheet. Insert data into it and save it.

In [60]:
wb=xl.Workbook()
print(wb.sheetnames)

['Sheet']

In [65]:
wb.create_sheet(title='Emp23',index=1)

In [66]:
print(wb.sheetnames)

['Emp', 'Emp23', 'Sheet', 'Emp2']

In [70]:
wb.remove_sheet(wb['Emp23'])

C:\Users\Anirudha Patil\AppData\Local\Temp\ipykernel_4732\3288114053.py:1: DeprecationWarning: Call to deprecated function remove_sheet (Use wb.remove(worksheet) or del wb[sheetname]).
  wb.remove_sheet(wb['Emp23'])

In [71]:
print(wb.sheetnames)

['Emp', 'Sheet', 'Emp2']

In [72]:
ws=wb['Emp']

In [73]:
ws['A1']='Name'
ws['B1']='Salary'

In [74]:
ws.append(['batman',1000])
ws.append(['superman',100])

In [75]:
for i in ws.values:
    for j in i:
        print(j,end=' ')
    print()

Name Salary
batman 1000
superman 100

In [76]:
wb.save(r'aaaaabbbbcccc.xlsx')